/**
* DON'T MODIFY THIS
*/
div:first-of-type{
    margin-bottom: 1em;
}
div:last-of-type{
    margin-top: 1em;
}
div div, div p, div span{
    text-indent: 2em;
}

div p span{
    text-indent: 4em;
}

span{
    margin-top:1em;
    display:block;
}